.header{
    display: flex;
    justify-content: space-between;
}
.profile{
    display: flex;
}
.update{
    color: green;
    border: 1px solid green;
}
.updateFailed{
    color: red;
    border: 1px solid red;
}