<app-header></app-header>


<div class="menu">
    
    <button type="button" class="btn" routerLink="/billing" routerLinkActive="active">Billing</button>
    <button type="button"  class="btn" routerLink="/home" routerLinkActive="active">Home</button>
    <button type="button" class="btn" routerLink="/inventory" routerLinkActive="active">inventory</button>
    <button type="button" class="btn" routerLink="/profile" routerLinkActive="active">profile</button>
    <button type="button" class="btn" routerLink="/reports" routerLinkActive="active">reports</button>

</div>

<router-outlet></router-outlet>
