form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.item{
    display: flex;
    flex-direction: row;
}
.alert{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: red;
    color: white;
}